<div class='changePasswordPage'>
  <div class='container'>
    <h2 class="title m-4">パスワード変更</h2>

    <%= form_with scope: resource, as: resource_name, url: password_path(resource_name), html: { class: "mt-5, change_password" }, local: true do |f| %>
    <div class="text-center"><%= render "devise/shared/error_messages", resource: resource %></div>

    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, "新しいパスワード" %><br />
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上入力してください)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, class: "form-control", autocomplete: "new-password" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "パスワード確認" %><br />
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
    </div>

    <div class="form-group text-center">
      <%= f.submit "パスワード変更", class: "passwordResetBtn" %>
    </div>
    <% end %>

    <div class="text-center"><%= render "devise/shared/links" %></div>
  </div>
</div>
